<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.welfare.module_welfare" >

    <!--android:name属性——是用来设置所有activity属于哪个application的，默认是android.app.Application。-->
    <application
        android:name="com.example.welfare.debug.MyApp"
        android:allowBackup="true"
        android:label="福利"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
         <activity android:name=".activity.WelfareActivity">
             <intent-filter>
                 <action android:name="android.intent.action.MAIN" />

                 <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
         </activity>

        <activity android:name="com.example.welfare.module_welfare.activity.ImagePreviewActivity">

        </activity>


    </application>
</manifest>
