<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tome.framedemomo2">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/title_logo"
        android:label="@string/app_main_name"
        android:roundIcon="@mipmap/title_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon, android:theme">
    </application>

</manifest>