<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tome.module_shop_cart">

    <application>
        <activity android:name=".activity.ShopCartActivity"/>

        <activity android:name=".activity.TestActivity"/>
        <activity android:name=".activity.ProductDetailActivity">
        </activity>
        <activity android:name=".activity.LoginActivity">
        </activity>
    </application>

</manifest>